* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 24px;
}

body {
  min-height: 100%;
  background: #333;
  font-family: "Shadows Into Light", cursive;
  color: white;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.span-word{
  display: block;
}

.span-letter {
  display: inline-block;
  animation: shake 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.span-letter:hover {
  animation: large 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.timer {
  display: flex;
  justify-content: center;
}
.number-block {
  text-align: center;
  font-size: 2.4rem;
  flex:1;
  position: relative;
}
.number-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#block-1 {
  box-shadow: inset 0 0 3rem rgba(211, 21, 21, 0.5);
}
#block-2 {
  box-shadow: inset 0 0 3rem rgba(21, 135, 211, 0.5);
}
#block-3 {
  box-shadow: inset 0 0 3rem rgba(8, 236, 111, 0.5);
}
#block-4 {
  box-shadow: inset 0 0 3rem rgba(219, 198, 4, 0.5);
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(-1px, 1px) rotate(5deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(-5deg);
  }
  75% {
    transform: translate(1px, -1px) rotate(15deg);
  }
}
@keyframes large {
  from {
    color: white;
    transform: rotate(0deg) scale(0.5);
  }
  to {
    color: rgb(255, 230, 0);
    transform: rotate(360deg) scale(1.2);
  }
}
